@{
    ViewBag.Title = "BookingAppointment";
}

<div style="padding-top:8px;background-color:grey;">
    <table width="100%">
        <tr>
            <td width="10%" align="left">
                <input type="button" style="padding-top:2px;border-radius:6px;width:100px;"
                       onclick="location.href = '@Url.Action("Desktop", "Home")'" value="Back" />
            </td>
            <td align="center">
                <b style="font-size:18px;color:white"> Appointment Confirmation</b>
            </td>

        </tr>
    </table>
</div>
<div style="padding-top:10px;">
    <b>  Slot has been booked</b>
</div>

